<footer class="foot site-foot">
  <div class="left">
    终末诗篇 · 一个开发者的笔记本 · Set in Instrument Serif &amp; Newsreader<br />
    从二〇二六开始，写给未来的自己。
  </div>
  <div class="right">
    MMXXVI
  </div>
</footer>
